/*
Proyecto: Complete Cargo
File: 
Programador: Ing. Fredy Hernández
Fecha: $date
*/
/* 
    Created on : 12-dic-2017, 6:27:34
    Author     : fredy.hernandez
*/


p,article{
font-size: 20px;
}

article{
    margin-left: 40%;
}
